body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sketchpad {
    border-style: solid;
    border-color: #FE5163;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 500px;
    width: 500px;
}

.sketchpad-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.square {
    flex-grow: 1;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.square--filled {
    background-color: #FE5163;
}