body {
    background-color: #1F1F36;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}


.sketchpad {
    background-color: #fff;
    border-style: solid;
    border-color: #FE5163;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 500px;
    width: 500px;
}

.sketchpad-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.square {
    flex-grow: 1;
    background-color: #fff;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.square--filled {
    background-color: #FE5163;
}

.options-container {
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#myinput {
    background: linear-gradient(to right, #FE5163 0%, #FE5163 50%, #fff 50%, #fff 100%);
    border: solid 1px #FE5163;  
    border-radius: 8px;
    width: 356px;
    height: 5px;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
} 

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 50%;
    background-color: #FE5163;
    height: 1rem;
    width: 1rem;    
 }

 #erase {
    border: solid 1px #FE5163;
    border-radius: 5px;
    background-color: #FE5163;
    color: #fff;
    padding: 5px 5px 5px 5px;
 }